h2{
	background-color:#D5C8F3;
	text-align: center;
}

h1{
	background-color:#F3C8E0;
	text-align: center;
}

#whywebdev{
	background-color: #F3DEC8;
}

#favactor{
	background-color: #E2F3C8;
}

a:link{
	font-family: verdana;
}

a:hover {
	color:orange;
}

a:visited{
	color:#5A639F;
}

a.one:link{
	color:#EE0D84;
}

a.two:link{
	color:#A10D5B;
}

a.three:link{
	color:#700A40;
}

a.four:link{
	color:#460628;
	font-style: italic;
}

img {
	width:300px;
	float:left;
}

body{
	background-image:url("https://www.planwallpaper.com/static/images/Alien_Ink_2560X1600_Abstract_Background_1.jpg")
}

p.haha{
	font-family: georgia;
	font-size: 20px;
}

.button{
	background-color: #F0ED16;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 30px;
    cursor:pointer;
    margin-right:auto;
    margin-left:auto;
    border-radius: 12px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}